
<h3>Ask your coach anything</h3>

<form class="form-inline" action="/answer" method="get">
  <div class="form-group">
    <input class="form-control" type="text" name="question" placeholder="What question?">
    <input class="btn btn-primary" type="submit">
  </div>
</form>
